<?xml version="1.0"?>
<openbox_menu>
  <menu id="root-menu" label="THE INDEX">
    <item label="Terminal"><action name="Execute"><command>foot</command></action></item>
    <item label="Launcher"><action name="Execute"><command>wofi --show drun</command></action></item>
    <separator/>
    <item label="Lock"><action name="Execute"><command>sh -c "quickshell -p ~/.config/quickshell/lock/lock.qml"</command></action></item>
    <item label="Reconfigure"><action name="Reconfigure"/></item>
    <item label="Exit"><action name="Exit"/></item>
  </menu>
</openbox_menu>
